In [22]:
import pandas as pd
import datetime

In [23]:
df = pd.read_csv('/content/train (1).csv')

In [24]:
# Step 1: Using Select()
selected_df = df[['Name', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Price']]
print("\n Step 1:Selected Columns:\n", selected_df.head())

 Step 1:Selected Columns:
                                Name  Year  Kilometers_Driven Fuel_Type  \
0  Hyundai Creta 1.6 CRDi SX Option  2015              41000    Diesel
1                      Honda Jazz V  2011              46000    Petrol
2                 Maruti Ertiga VDI  2012              87000    Diesel
3   Audi A4 New 2.0 TDI Multitronic  2013              40670    Diesel
4            Nissan Micra Diesel XV  2013              86999    Diesel

  Transmission  Price
0       Manual  12.50
1       Manual   4.50
2       Manual   6.00
3    Automatic  17.74
4       Manual   3.50

In [25]:
# Step 2: using() Filter
filtered_df = selected_df[selected_df['Fuel_Type'] == 'Diesel']
print("\nStep 2:Filtered DataFrame (Fuel_Type = Diesel):\n", filtered_df.head())

Step 2:Filtered DataFrame (Fuel_Type = Diesel):
                                 Name  Year  Kilometers_Driven Fuel_Type  \
0   Hyundai Creta 1.6 CRDi SX Option  2015              41000    Diesel
2                  Maruti Ertiga VDI  2012              87000    Diesel
3    Audi A4 New 2.0 TDI Multitronic  2013              40670    Diesel
4             Nissan Micra Diesel XV  2013              86999    Diesel
5  Toyota Innova Crysta 2.8 GX AT 8S  2016              36000    Diesel

  Transmission  Price
0       Manual  12.50
2       Manual   6.00
3    Automatic  17.74
4       Manual   3.50
5    Automatic  17.50

In [26]:
# Step 3: using Rename()
renamed_df = filtered_df.rename(columns={'Kilometers_Driven': 'Km_Driven'})
print("\nStep 3 :DataFrame with Renamed Column (Kilometers_Driven to Km_Driven):\n", renamed_df.head())

Step 3 :DataFrame with Renamed Column (Kilometers_Driven to Km_Driven):
                                 Name  Year  Km_Driven Fuel_Type Transmission  \
0   Hyundai Creta 1.6 CRDi SX Option  2015      41000    Diesel       Manual
2                  Maruti Ertiga VDI  2012      87000    Diesel       Manual
3    Audi A4 New 2.0 TDI Multitronic  2013      40670    Diesel    Automatic
4             Nissan Micra Diesel XV  2013      86999    Diesel       Manual
5  Toyota Innova Crysta 2.8 GX AT 8S  2016      36000    Diesel    Automatic

   Price
0  12.50
2   6.00
3  17.74
4   3.50
5  17.50

In [27]:
#step 4: using assign()
kmpl_to_mpg = 2.35215


df = df.assign(
    Fuel_Efficiency_mpg=lambda x: pd.to_numeric(x['Mileage'].str.split().str[0], errors='coerce') * kmpl_to_mpg
)



print("\nStep 4: DataFrame with New Column 'Fuel_Efficiency_mpg' using assign:\n", df[['Name', 'Mileage', 'Fuel_Efficiency_mpg']].head())

Step 4: DataFrame with New Column 'Fuel_Efficiency_mpg' using assign:
                                Name     Mileage  Fuel_Efficiency_mpg
0  Hyundai Creta 1.6 CRDi SX Option  19.67 kmpl            46.266791
1                      Honda Jazz V    13 km/kg            30.577950
2                 Maruti Ertiga VDI  20.77 kmpl            48.854155
3   Audi A4 New 2.0 TDI Multitronic   15.2 kmpl            35.752680
4            Nissan Micra Diesel XV  23.08 kmpl            54.287622

In [28]:
#Step 5: using arrange() instead of the mutate() function in R
arranged_df = renamed_df.sort_values(by='Price', ascending=False)
print("\nStep 5: DataFrame Arranged by Price (Descending):\n", arranged_df.head())

Step 5: DataFrame Arranged by Price (Descending):
                                              Name  Year  Km_Driven Fuel_Type  \
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  2017      25000    Diesel
1457              Land Rover Range Rover Sport SE  2019      26013    Diesel
5380                    BMW X6 xDrive 40d M Sport  2015      97003    Diesel
2347                     Jaguar XJ 3.0L Portfolio  2016      12000    Diesel
1830         Mercedes-Benz GLS 350d Grand Edition  2018       6000    Diesel

     Transmission   Price
3952    Automatic  160.00
1457    Automatic   97.07
5380    Automatic   85.00
2347    Automatic   79.00
1830    Automatic   79.00

In [29]:
#step 6: using groupby()
summarized_df = df.groupby('Fuel_Type').agg(
    Average_Price=('Price', 'mean'),
    Max_Car_Age=('Year', lambda x: current_year - x.min())
).reset_index()
print("\nStep 6: Summarized DataFrame (Average Price and Max Car Age by Fuel_Type):\n", summarized_df)

Step 6: Summarized DataFrame (Average Price and Max Car Age by Fuel_Type):
   Fuel_Type  Average_Price  Max_Car_Age
0    Diesel      12.960686           26
1  Electric      12.875000           13
2    Petrol       5.756688           26